body{
    font-family: 'Saira Extra Condensed', sans-serif;
}
.navbar{
    /*stay fixed when scrolling*/
    position: fixed;
    display: flex;
    align-items: center;
    top: 0px;
    right: 0px;
    left: 0px;
    padding: .5rem 1rem;
}

.nav-link{
    color: #fff;
    padding-right: .5rem;
    padding-left: .5rem;
    display: block;
    text-decoration: none;
}

.nav-item{
    position: relative;
}

.navbar-ul{
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0px;
    list-style: none;
    margin-right: auto;
}

.navbar-red{
    background-color: #000000;
}

.navbar-menu{
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.search-form{
    float: left;
}

.button{
    display: inline-block;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #e50914;
    padding: .25rem .7rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .5rem;
    color: #fff;
    cursor: pointer;
    background-color: #e50914;
    text-decoration:none;
}

.navbar-moto{
    color: #ffffff;
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.25rem;
}

.form-input{
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.pr-1{
    padding-right: 0.5rem;
}
.pr-2{
    padding-right: 1rem;
}
.pr-3{
    padding-right: 1.5rem;
}
.pr-4{
    padding-right: 2rem;
}

.mr-1{
    margin-right: 0.5rem;
}

header{
    display: block;
}