body{
    font-family: 'Saira Extra Condensed', sans-serif;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.nav-link{
    color: #fff;
    padding-right: .5rem;
    padding-left: .5rem;
    display: block;
    text-decoration: none;
}

.nav-item{
    position: relative;
}

.produs img{
    height: 300px;
}

.navbar-ul{
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0px;
    list-style: none;
    margin-right: auto;
}

.navbar-red{
    background-color: #000000;
}

.navbar-menu{
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.search-form{
    float: left;
}

.button{
    display: inline-block;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #e50914;
    padding: .25rem .7rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .5rem;
    color: #fff;
    cursor: pointer;
    background-color: #e50914;
    text-decoration:none;
}

.navbar-moto{
    color: #ffffff;
    display: inline-block;
    margin-right: 1rem;
    font-size: 1.25rem;
}

.form-input{
    vertical-align: middle;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.pr-1{
    padding-right: 0.5rem;
}
.pr-2{
    padding-right: 1rem;
}
.pr-3{
    padding-right: 1.5rem;
}
.pr-4{
    padding-right: 2rem;
}

.mr-1{
    margin-right: 0.5rem;
}

.ml-1{
    margin-left: 0.5rem;
}

.mt-4{
    margin-top: 2rem;
}
.mt-3{
    margin-top: 1.5rem;
}
.produs{
    text-align: center;
}

header{
    display: block;
}

.page-item:first-child .page-link {

    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;

}
.page-link:not(:disabled):not(.disabled) {

    cursor: pointer;

}
.page-link {

    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;

}

.bd-example .pagination {

    margin-top: .5rem;
    margin-bottom: .5rem;

}
.pagination {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;

}

.page-item.active .page-link {

    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;

}

.nav-link:hover{
    cursor: pointer;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

 /*Phone*/
@media only screen and (max-width: 600px) {
    .mobile-hide{
        display: none;
    }
}

 /*Tablet*/
@media only screen and (max-width: 900px)and (min-width: 601px) {
    .mobile-hide{
        display: flex;
    }
}

 /*Desktop*/
@media only screen and (min-width: 901px) {
    .mobile-hide{
        display: flex;
    }
}