section h1 {
    margin-left: 10%;
    margin-top: 5%;
    color: darkred
}

.section {
    margin-left: 50px;
    width: 95%;
    display: flex;
    color: darkred;
}

.section img {
    width: 100%;
    padding: 10% 10%;
    width: auto;
    height:auto;
    border: 0px solid
}

.section table {
    flex: 60%;
    margin-top: 50px;
    font-size: 20px;
    font-style: oblique
}

.table, .table th, .table td {
    margin-left: 100px;
    width: 1700px;
    border: 1px solid red;
    border-collapse: collapse;
}

.table td {
    padding: 15px;
    text-align: left;
}

.table th {
    padding: 15px;
    text-align: center;
}
