body{
    font-family: 'Saira Extra Condensed', sans-serif;
    background:black;
    margin: 0 auto 0 auto;
    width:100%;
    text-align:center;
    margin: 20px 0px 20px 0px;
}

p{
    font-size:12px;
    text-decoration: none;
    color:#ffffff;
}

h1{
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size:2.0em;
    color:#ffffff;
    margin-top: 8px;
    padding-top: 8px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.box{
    background:#e50914;
    width:300px;
    border-radius:6px;
    margin: 0 auto 0 auto;
    padding:0px 0px 70px 0px;
}

.email{
    background:#ecf0f1;
    border: #ccc 1px solid;
    border-bottom: #ccc 2px solid;
    padding: 8px;
    width:75%;
    color:black;
    margin-top:10px;
    font-size:1em;
    border-radius:4px;
}

.password{
    border-radius:4px;
    background:#ecf0f1;
    border: #ccc 1px solid;
    padding: 8px;
    width:75%;
    font-size:1em;
}

.d-flex{
    display: flex;
}

.btn{
    background:#2ecc71;
    width:125px;
    padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #27ae60 1px solid;

    margin-top:20px;
    margin-bottom:20px;
    float:left;
    margin-left:16px;
    font-weight:800;
    font-size:0.8em;
}

.btn:hover{
    background:#2CC06B;
}

#btn2{
    float:left;
    background:#3498db;
    width:125px;  padding-top:5px;
    padding-bottom:5px;
    color:white;
    border-radius:4px;
    border: #2980b9 1px solid;

    margin-top:20px;
    margin-bottom:20px;
    margin-left:10px;
    font-weight:800;
    font-size:0.8em;
}

#btn2:hover{
    background:#3594D2;
}