
.section {
    margin-left: 50px;
    width: 95%;
    display:flex;
    color:#e50914;
}
.section img {
    flex:30%;
    width: auto;
    height:auto;
    padding: 20px 50px;
    resize:none
}
.section table {
    flex: 70%;
    flex-direction:column;
    margin-top: 50px;
    font-size: 20px;
    font-style: normal;
}

.table, .table th,.table td {
    margin-left:100px;
    width:85%;
    border: 1px solid #e50914;
    border-collapse:collapse;
}

.table td {
    padding: 15px;
    text-align: left;
}
.table th{
    padding:15px;
    text-align:center;
}

table#t01 tr:nth-child(odd) {
    background-color: #e50914;
    color: white;
}

table#t01 tr:nth-child(even) {
    background-color: dimgrey;
    color:black
}

table#t01 th {
    background-color: #e50914;
    color: whitesmoke;
}

.table2 {
    margin-left: 100px;
    width: 90%;
    border-collapse: collapse;
}

.table2 img{
    image-resolution:from-image;
    margin-left:10%
}

.table2 a{
    padding:0px 25%;
    text-align:center;
    font-size:20px;
    color:#e50914;
    text-decoration:none;
}